h1 {
    text-align: center;
    font-family: 'Arial', cursive;
    color: antiquewhite;
    font-size: xxx-large;
}

h2 {
    text-align: center;
    font-family: 'Arial', cursive;
    color: antiquewhite;
    font-size: xx-large;
}

body {
    background-color: #9999CC;
}

.main_page_table {
    text-align: center;
    margin: auto;
}

.game_type_button {
    border-radius: 12px;
    height: 150px;
    width: 150px;
    text-align: center;
    color: navy;
    font-family: 'Arial', cursive;
    background-color: antiquewhite;
}

.game_statistic {
    width: 30%;
    text-align: center;
    font-family: 'Arial', cursive;
    color: antiquewhite;
    font-size: xxx-large;
}

.game_field_table {
    text-align: center;
    margin: auto;
    padding: 10px 10px;
}

.cell_300 {
    width: 300px;
}

.button_600 {
    margin: auto;
    border-radius: 12px;
    height: 40px;
    width: 600px;
    text-align: center;
    color: navy;
    font-family: 'Arial', cursive;
    background-color: antiquewhite;
}